@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap");
* {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  transition: 0.5s linear;
}
.navbar-light .navbar-brand {
  color: white;
  font-size: 2rem;
  padding: 1rem 0 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 1.5rem;
  /* padding: 1rem 0; */
  margin-left: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: yellow;
  font-size: 1.5rem;
  /* padding: 1rem 0; */
  margin-left: 1rem;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fc5185;
}

/* span {
  color: black;
} */

.main_header {
  width: 100%;
  height: 80vh;
  /* background-image: url("../images/bg.svg"); */
  background-repeat: no-repeat;
}
.img_bulb {
  /* display: block; */
  background-size: 100px 82px;
  position: relative;
}
.bulb {
  position: relative;
  margin-top: -14px;
  left: 49%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 30px;
  border-radius: 0 0 150px 150px;
  background-color: #3e4a4d;
}
.img_light {
  position: relative;
}
.main_light {
  position: absolute;
  margin-left: 170px;
  margin-top: -85px;
}
.main_header_text {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 50px;
}

.main_header_text h2 {
  color: #3e4a4d;
  font-size: 5rem;
  line-height: 150%;
  font-weight: 600;
}

.main_header_text h2 span {
  text-transform: capitalize;
  color: black;
}
img {
  position: absolute;
  opacity: 1;
  transition: 2s linear;
}
.main_header .user {
  width: 90vh;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 50px;
}

.main_header__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.main_header__btn a {
  padding: 0.6rem 2.2rem;
  background-color: white;
  color: #3e4a4d;
  line-height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  border: 1px solid #8a8a8a;
  cursor: pointer;
  border-radius: 0.7rem;
  text-decoration: none;
}

.main_header__btn a:hover {
  padding: 0.6rem 2.2rem;
  background-color: #001aff;
  color: white;
  line-height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
  border: #001aff;
  cursor: pointer;
  border-radius: 0.7rem;
  text-decoration: none;
}

#btn2 {
  margin-left: 2rem;
}

/* Bottom Scroll */

.mp-unlim-block {
  border-style: solid;
  border-width: 1px;
  border-color: #c7c7c7;
  width: 100%;
}

.mp-content-1520 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 30px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: Inter, sans-serif;
}

.mp-unlim-block {
  display: flex;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 60px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 4px;
  background-color: black;
}

.heading-6.mp-unlim {
  font-size: 51px;
  line-height: 62px;
  font-weight: 900;
}
.heading-6 {
  text-align: center;
  margin-bottom: 8px;
}
.heading-6,
.heading-6.mp-unlim {
  margin-top: 0;
  width: 100%;
  color: #000;
}

.div-block-179 {
  width: 100%;
  padding-left: 0;
}

.mp-unlim-price {
  margin-top: 0;
  margin-bottom: 0;
  color: #f94506;
  line-height: 26px;
  text-align: center;
}

.mp-text {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
}

.div-block-180 {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.mp-header-button.mp-line.unlim {
  margin-top: 12px;
  border-radius: 4px;
}
.mp-header-button.mp-line {
  max-width: 600px;
  margin-right: 20px;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
}

.mp-text {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
}

/* Bottom Scroll End */

/* Arrow Animation */
svg {
  /* transform: translate(-35.1813px, 15px) rotate(19.7781deg) scale(0.8); */
  transform: translate(240.1813px, 15px) rotate(19.7781deg) scale(0.8);
  height: 150px;
  /* height: 125px; */
  /* transform: translate(-50.8187px, 10px) rotate(19.7781deg) scale(0.8); */
}
.arro {
  stroke-dashoffset: 50;
  stroke-dasharray: 50;
  transition: stroke-dashoffset 1.5s ease-in-out;
}
.line {
  stroke-dashoffset: 196;
  stroke-dasharray: 196;
  transition: stroke-dashoffset 1s ease-in-out;
}

.arros {
  stroke-dashoffset: 0;
  stroke-dasharray: 50;
  transition: stroke-dashoffset 1.5s ease-in-out;
}
.lines {
  stroke-dashoffset: 0;
  stroke-dasharray: 196;
  transition: stroke-dashoffset 1.2s ease-in-out;
}

/* Dark Theam Start */
.navbar-nav .nav-item .bg {
  color: black;
}

#name {
  text-transform: capitalize;
  color: #ff5862;
  font-size: 5rem;
  line-height: 150%;
  font-weight: 600;
  transition: 2s linear;
}
#tran {
  display: inline;
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
  transition: 2s linear;
}
.navbar-brand.logo {
  color: blue;
}

.on {
  border-bottom: 120px solid #fedd3e;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  height: 0;
  width: 200px;
  position: absolute;
  /* background: #fedd3e; */
  opacity: 0.3;
  margin-top: -30.5px;
  margin-left: -50px;
  /* border-radius: 2px; */
  /* transform: rotate(0.5deg); */
}

.bulbcolor {
  position: relative;
  margin-top: -14px;
  left: 49%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 30px;
  border-radius: 0 0 150px 150px;
  background-color: #f9ff21;
  z-index: 1;
}
/* for small devices */

@media only screen and (max-width: 479px) {
  .mp-content-1520 {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .mp-unlim-block {
    margin-right: 0;
    margin-left: 0;
    padding: 20px;
  }

  .heading-6.mp-unlim {
    font-size: 35px;
    line-height: 44px;
  }
  .mp-unlim-price {
    font-size: 20px;
    line-height: 32px;
  }
  .mp-text {
    font-size: 15px;
  }
  svg {
    transform: translate(-56.1813px, 15px) rotate(19.7781deg) scale(0.8);
    height: 70px;
  }
}

@media only screen and (max-width: 600px) {
  #user {
    display: none;
  }
  .main_header {
    display: flex;
    justify-content: center;
  }
  .main_light {
    margin: 0%;
    margin-top: -160px;
  }
  .main_header__btn {
    display: block;
    margin: 0 auto;
  }
  .main_header__btn a {
    display: block;
    padding: 0.8rem 4.2rem;
  }
  .main_header__btn #btn2 {
    margin-top: 1.5rem;
    margin-left: 0%;
  }
  .main_header_text {
    display: flex;
    align-items: center;
  }
  .space {
    margin-bottom: 1rem;
  }
  /* svg {
    transform: translate(-10.1813px, 10px) rotate(19.7781deg) scale(0.8);
    height: 80px;
  } */
}

/* max-width 786px */
@media only screen and (max-width: 786px) {
  #user {
    display: none;
  }
  .main_header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main_light {
    margin-left: 0px;
  }
  .main_header_text {
    display: flex;
    align-items: center;
  }

  .main_header__btn {
    display: block;
    margin: 0 auto;
  }
  .main_header__btn a {
    display: block;
    padding: 0.8rem 4.2rem;
  }

  .main_header__btn #btn2 {
    margin-top: 1.5rem;
    margin-left: 0%;
  }
  .space {
    margin-bottom: 1rem;
  }
  /* svg {
    transform: translate(-25.8187px, 10px) rotate(19.7781deg) scale(0.8);
    height: 108px;
  } */
}

/* max-width 1024px */
/* @media only screen and (min-width: 540px) { */
/* #user {
    display: none;
  }
  .main_header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
  .main_header_text {
    height: 60vh;
    display: flex;
    align-items: center;
  }
  .main_light {
    margin: 0%;
  }
  .img_light {
    margin-top: -100px;
  } */
/* svg {
    transform: translate(10.8187px, 10px) rotate(19.7781deg) scale(0.8);
  } */
/* } */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  svg {
    transform: translate(-25.8187px, 10px) rotate(19.7781deg) scale(0.8);
    height: 108px;
  }
}
@media only screen and (max-width: 1200px) {
  #user {
    display: none;
  }
  .main_header_text {
    height: 80vh;
  }
  .big {
    display: none;
  }
  .main_light {
    margin-left: 0px;
  }
  .main_header {
    display: flex;
    justify-content: center;
  }
  .main_header_text {
    display: flex;
    align-items: center;
  }
}
